---
import TextLink from "@components/TextLink.astro";
import { resolvePath } from "@lib/utils";

type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
  <p>
    Hello! You're probably not supposed to be here, so you should probably leave. Like now. Thank you! Goodbye!
  </p>

  <p>
    ...Are you still here? I already told you to leave! Time to skeddadle! Bye bye! Tschüss! 拜拜! Unless you're Rosa —
    then welcome!!!!!! I am so glad that you are here!!! Behold my creation! But if you're not Rosa, disregard all of that.
    You are not welcome. In fact, you've LONG overstayed your welcome, and at this point you're kind of embarrassing yourself. So yeah you
    should really just do yourself a favor and kick rocks.
  </p>

  <p>
    Y'know what? Fine. Stay here. See if I care.
  </p>

  <p>Have fun looking at nothing, idiot! (unless you are Rosa!!!!)</p>
</div>
